:root{
    --main-color:#212121 ;
    --banner-color: #FFFFFF;
    --second-color: #757575;
    --alt-color: #2196F3;
    --socials-color: #AFB1B8;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

li{
   list-style: none;
   padding: 0;
   margin: 0;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

button{
    cursor: pointer;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.all-titles{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

/*--------HEADER-----------*/

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-right: 93px;
}

.logo-part{
    color: var(--alt-color)
}

.nav-bar{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header{
    border: 1px solid #ECECEC
}

.header-menu{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list{
    display: flex;
}

.header-item + .header-item{
    margin-left: 50px;
}

.header-contacts{
    display: flex;
    margin-left: auto;
    align-items: center;
}


.header-contacts-list + .header-contacts-list{
    margin-left: 50px;
}

.header-link{
    color: var(--main-color);
}

.header-link:hover, .header-link:focus{
    color: var(--alt-color);
}

.header-contacts-tel{
    color: var(--second-color);
}

.header-contacts-tel:hover, .header-contacts-tel:focus{
    color: var(--alt-color);
}

/*-------HERO-------*/

.hero{
    background-color: #212121;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../photo/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title{  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--banner-color);
    margin-bottom: 30px;
}

.hero-btn{
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--banner-color);
    background-color: var(--alt-color);
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
    border-color: transparent;
}

/*------ADVANTAGES-------*/

.advantages{
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-list{
    display: flex;
}

.advantages-item{
    width: calc((100% -90px) / 4);
    margin-right: 30px;
}

.advantages-item:nth-child(4n) {
    margin-right: 0;
}

.advantages-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
}

.advantages-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

/*---------ABOUT--------*/

.about-list{
    display: flex;
    flex-wrap: wrap;
}
.about-item{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}
.about-item:nth-child(3n){
    margin-right: 0;
}
.about-title{
    color: var(--main-color);
    margin-bottom: 50px;
}

/*-------TEAM SECTION-----*/

.team{
    background-color: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-title{
    color: var(--main-color);
    margin-bottom: 50px;
}

.team-list{
    display: flex;
    text-align: center;
}

.team-item{
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
}

.team-item:nth-child(4n){
    margin-right: 0;
}

.team-item-title{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);
    padding-top: 30px;
    margin-bottom: 10px;
}

.team-item-text{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-color);
    padding-bottom: 30px;    
}

.team-socials-list{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.team-socials-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--socials-color);
}

.team-socials-icon{
    fill: currentColor;
}

.team-socials-link:hover, .team-socials-link:focus{
    background-color: var(--alt-color);
    color: var(--banner-color);
}

.team-socials-item+.team-socials-item{
    margin-left: 10px;
}

/*------FOOTER-------*/

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    margin-right: 0;
}

.footer-list{
    margin-top: 20px;
}

.footer-item{
    margin-bottom: 9px;
}

.footer-item:nth-child(3n){
    margin-bottom: 0;
}

.foot-link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
}

.footer-link-map{
    color: var(--banner-color);
}

.footer-link{
    color: var(--second-color);
}

.footer-link:hover, .footer-link:focus{
    color: var(--alt-color);
}

.footer-link-map:hover, .footer-link-map:focus{
    color:var(--alt-color)
}

/* ------Страница Портфолио-------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.category-btns-list{
    margin-top: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-menu {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    text-align: center;
    max-width: 145px;
    height: 38px;
    border-radius: 4px;
    border-color: transparent;   
    padding: 6px 22px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-item{
    margin-right: 8px;
}

.category-item:last-child{
    margin-right: 0;
}

.category-menu:hover, .category-menu:focus{
    color: var(--banner-color);
    background-color: var(--alt-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/*--------PORTFOLIO---------*/
.works{
    margin-bottom: 94px;
    margin-top: 50px;
}

.works-list{
    display: flex;
    flex-wrap: wrap;
}

.works-item{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.works-item:nth-child(3n){
    margin-right: 0;
}

.works-item:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.works-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
}

.works-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-color);
    text-align: left;
    padding-bottom: 20px;
    padding-left: 24px;
}
